.main{
  padding-left: 8em;
}
.page{
  color: #4c4c4c;
  width: 40px;
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  height: 2.4em;
  font-size: 1em;
  background-color: #e4e4e4;
  border-radius: 4px;
  border: none;
  cursor: move;
}

.pages:hover{
  color: #111111;
  background: #a7a9a7;
  font-weight: bold;
}

.activePage{
  color:#ffffff;
  font-weight: bold;
  background: #606568;
}

.Navlink{
  text-decoration: none;
  color: gray;
  font-size: 1.2em;
  font-weight: 500;
}
.action{
color: black;
font-size: 1.2em;
text-decoration: none;
}

.pagination{
  padding: 15px;
  width: fit-content;
  margin: 0px;
  float: left;
}
.Navlink:hover:not(.active) {
color: black;
text-decoration: none;
}
.fetching{
  position: absolute;
  color: black;
  padding: 1.5em;
  font-size: 1em;
}
.main-table{
  padding-top: 1.2em;
  font-weight: 500;
}
.div-table{
  display: table;
  width: auto;
  height: auto;
  border-left: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  font-size: 1.3em;
}
.div-row{
  height: 60px;
  width: auto;
  clear: both;
  border-bottom: 1px solid #c5c5c5;
}
.div-row-header{
  height: 60px;
  width: auto;
  clear: both;
  border-bottom: 1.5px solid #c5c5c5;
}

.div-col {
  padding: 10px;
  float: left; /* fix for  buggy browsers */       
  width: 200px;     
  height: 40px;
  border-left: 1px solid #c5c5c5 

}

.div-col-first {
  padding: 10px;
  float: left; /* fix for  buggy browsers */       
  width: 200px;     
  height: 40px;

}
.div-col img{
    height: 40px;
}