.div-table{
  display: table;
  width: auto;
}
.div-row{
  height: 60px;
  width: auto;
  clear: both;
  border: 1px solid #c5c5c5;
}

.div-col {
  padding: 10px;
  float: left; /* fix for  buggy browsers */       
  width: 200px;     
  height: 40px; 
  border-right: 1px solid #c5c5c5;

}

.div-col img{
    height: 40px;
}