.App {
  text-align: center;
  position: relative;
}

.h2{
  text-align: center;
}


.form{
  text-align: left;
  border:2px solid black; 
  background-color:white;
  border-radius: 3%;
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 40%;
  margin-top: 5%;
}

.loginButton{
  text-align: center;
}


.input{
  
}