.App{
  margin:1%;
  padding:1%;
}
.fieldset {
  border: 1px black solid;
  padding:30px;
}

.Form{
  text-align: center;
}

.h1{
  color:blue;
  margin-left:20px;
  text-align:center;
}


.inner{
  border:1px black solid;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

.struct{
  text-align: center;
}

.row{
  margin-left:20px;
}

.button{
  margin-left:70px;
}

.legend{
  margin-left:15px;
}

.genderlegend{
  /* margin-left:5%; */
}

 .genderspace{
  margin-bottom: 13%;
} 

