.App{
  margin:1%;
  padding:1%;
}
.fieldset {
  border: 1px black solid;
  padding:30px;
}

.Form{
  text-align: center;
}

.h1{
  color:blue;
  margin-left:20px;
  text-align:center;
}


.inner{
  border:1px black solid;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

.struct{
  text-align: center;
}

.row{
  margin-left:20px;
}

.button{
  margin-left:70px;
}

.legend{
  margin-left:15px;
}

.genderlegend{
   margin-left:1%; 
}

 .genderspace{
  margin-bottom: 13%;
} 

.button{
  text-align: center;
}

.selectClass{
  margin-right: 3%;
}

.select{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.datePicker{
    display:flex;
    flex-direction: row;
    margin-left:2.8%;
    margin-bottom: 4%;
}