.main {
  background-color:#f9f9f9;
  height: 100%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}


.sidebar{
  position:absolute;
}

.logout{
  text-align: right;
}


.mainHeading{
  font-family: 'Segoe UI',sans-serif;
  /* font-size:24px;
  line-height: 26.4px; */
  letter-spacing: normal;

}

.subHeading{
  display:flex;
  justify-content: space-between;
}