.main{
    background-color: #f9f9f9;
    height: 100%;
}

.userList{
    margin-left:18%;
    margin-right: 15%;
}

.h1{
    text-align: left;
}

.loggedInPage{
    position: absolute;
}

.logout{
    text-align: right;
}

.dropDownMenu{
    padding: 20px;
    float: left;
    margin:20px;
}

