.main{
    background-color: #f9f9f9;
}

.userList{
    margin-left:18%;
    margin-right: 15%;
}

.h1{
    text-align: center;
}

.loggedInPage{
    position: absolute;
}

.logout{
    text-align: right;
}