.sidebar {
  position: absolute;
}

.reception {
  background-color: #f9f9f9;
}
.logout {
  text-align: right;
}

.receptionList {
  margin-left: 10%;
}

.receptionHeading {
  margin-left: 10%;
}

.icon {
  padding: 2%;
}

.modalBody {
  text-align: center;
  font-weight: bold;
}

.receptionNavBar {
  margin-left: 10%;
}
